/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 @import url(https://fonts.googleapis.com/css?family=Roboto);
 @font-face {
   font-family: 'Roboto';
   src: url(https://fonts.googleapis.com/css?family=Roboto);
 }


 body{
   height: 100%;
   margin: auto;
   /* background-color: #d6d6d6; */
   background-image: url("food_pattern.jpg");
   padding-left: 7.5%;
   padding-right: 7.5%;
 }

 #header{
   font-family: 'Roboto', sans-serif;

   color: white;
   border-radius: 20px;
   background-color: #ce2b2e;

   margin-top: 80px;
   margin-bottom: 60px;
 }

 #title{
   text-align: center;
   text-transform: lowercase;
   letter-spacing: .2em;
   padding-top: 40px;
 }

 h1{
   font-size: 3.2em;
   margin-bottom: 0px;
   margin: 5px;
 }

 h2{
   font-weight: lighter;
   margin-top: 0px;
 }


#form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-bottom: 40px;
}

.search-item{
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.text-search{
  opacity: 1;
  width: 300px;
  text-align: left;
  padding-left: 1%;
}

.day-search{
  width: 110px;
}

.time-search{
  width: 100px;
}

.submit-search{
  width: 80px;
}

@media (min-width: 800px){
  .text-search{
    width: 30%;
  }

  .day-search{
    width: 15%;
  }

  .time-search{
    width: 10%;
  }

  .submit-search{
    width: 10%;
  }
}


#map {
  height: 100%;
  margin-bottom: 80px;
  border-radius: 5%;
  border: 20px solid #245b96;
}
