/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 @import url(https://fonts.googleapis.com/css?family=Roboto);
 @font-face {
   font-family: 'Roboto';
   src: url(https://fonts.googleapis.com/css?family=Roboto);
 }


 body{
   height: 100%;
   margin: auto;
   background-image: url("food_pattern.jpg");
   padding-left: 7.5%;
   padding-right: 7.5%;
   text-align: center;
   color: white;
   font-family: 'Roboto', sans-serif;
 }

 #header{
   border-radius: 20px;
   background-color: #ce2b2e;

   margin-top: 80px;
   margin-bottom: 40px;
 }

 #no-results{
   border-radius: 20px;
   width: auto;
   margin-bottom: 40px;
   padding: 30px;

   font-size: 1.6em;
   font-weight: lighter;
   letter-spacing: .2em;

   background-color: rgb(74, 168, 48);

   display: none;
 }

 #title{
   text-transform: lowercase;
   letter-spacing: .2em;
   padding-top: 40px;
  }

  h1{
    font-size: 3.2em;
    margin-bottom: 0px;
    margin: 5px;
  }

  h2{
    font-weight: lighter;
    margin-top: 0px;
  }

#form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-bottom: 40px;
}

.search-item{
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.text-search{
  opacity: 1;
  width: 300px;
  text-align: left;
  padding-left: 1%;
}

.day-search{
  width: 100px;

}

.time-search{
  width: 100px;
}

.submit-search{
  width: 80px;
}

@media (min-width: 800px){
  .search-bar{
    width: 30%;
  }

  .day{
    width: 15%;
  }

  .time{
    width: 10%;
  }

  .submit{
    width: 10%;
  }
}


#map {
  height: 100%;
  margin-bottom: 80px;
  border-radius: 50px;
  border: 30px solid #245b96;
}
